$white: #fff;
$black: #000;
$color-1: #c6aa9d;
$color-2: #8c9086;
$color-3: #ceb8a4;
$color-4: #dcd2c8;
$color-5: #f5f1ea;
$color-6: #4b4d48;
$color-7: #8f8681;
$shadow: #f0f0f0;
$disabled: #4b4d48;
$success: rgb(67, 145, 67);
$alert: rgb(252, 55, 55);
$warning: rgb(65, 77, 242);
$registered: rgb(65, 77, 242);
$purple: #fce700;
$sent: #f26522;
$completed: rgb(67, 145, 67);
