.CookieConsent {
  align-items: center !important;
  background: $black !important;
}

.cookies-buttons {
  button {
    color: $white !important;
    border-radius: 4px !important;
    font-size: 16px;
  }
}
.cookie-content {
  flex: 1 1 auto !important;
}
