.slick-prev,
.slick-next {
  margin-top: -10px;
}

.homeSlickSlide {
  a {
    display: block;
    padding: 0;
  }

  img {
    width: 100%;
    outline: none;
    object-fit: contain;
  }
}
.slick-next {
  right: 20px;
  z-index: 1;
}
.slick-prev {
  left: 20px;
  z-index: 1;
}
.slick-dots {
  position: static;
}

.slider-product {
  padding: 0 6px;
}
