.MuiTab-textColorPrimary {
  color: $white !important;
}

.MuiTab-textColorPrimary.Mui-selected {
  color: $color-1 !important;

  &.white {
    color: $white !important;
  }
}

.PrivateTabIndicator-colorPrimary-3 {
  background-color: $color-1 !important;
}
