@import 'src/styles/colors.scss';
* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

body {
  font-family: 'Comfortaa', sans-serif;
  margin: 0;
  padding: 0;

  * {
    font-family: 'Comfortaa', sans-serif;
  }
}

img {
  vertical-align: middle;
}

.content {
  margin-top: 120px;
  margin-bottom: 60px;
  min-height: 600px;

  .content {
    min-height: unset;
  }
}

.hidden {
  display: inline-block;
}

ul {
  margin: 0;
  padding: 0;
}

.row {
  width: 100%;
  margin-bottom: 50px;
}

.wrapper {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 10px;

  &.nopadding {
    padding: 0;
  }
}

.grid-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.text-center {
  text-align: center;
}

.MuiPaper-elevation1 {
  box-shadow: none !important;
}

// ACTIONS
.actions {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;

  &.separate {
    justify-content: space-between;
  }
}

// PADDINGS, MARGINS
.pr0 {
  padding-right: 0 !important;
}
.mrl12 {
  margin-left: 12px !important;
  font-weight: 400;
}

// TITLES
.section-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin: 0 0 20px;
  color: $color-2;
  letter-spacing: 2px;
}

.page-title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin: 0 0 20px;
  color: $color-2;
  letter-spacing: 2px;
}

// LOADER
.loading {
  &.full {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 2;
  }

  span {
    padding: 16px;
    border-radius: 6px;
    background: $white;
    box-shadow: 0px 0px 24px -12px $shadow;
  }
}

// SLIDER
[class^='PrivateValueLabel-circle'],
.MuiSlider-thumb,
.MuiSlider-mark,
.MuiSlider-valueLabel {
  background: $color-7 !important;
}

.MuiSlider-track {
  background: $color-3 !important;
}

.mr0 {
  margin-right: 0 !important;

  & .catalog-pagination {
    margin-right: 0;
  }
}

.mb0 {
  margin-bottom: 0 !important;
}

@import 'src/styles/buttons.scss';
@import 'src/styles/tabs.scss';
@import 'src/styles/slick.scss';
@import 'src/styles/table.scss';
@import 'src/styles/cart.scss';
@import 'src/styles/catalog.scss';
@import 'src/styles/product.scss';
@import 'src/styles/contact.scss';
@import 'src/styles/categories.scss';
@import 'src/styles/checkout.scss';
@import 'src/styles/user.scss';
@import 'src/styles/alert.scss';
@import 'src/styles/loader.scss';
@import 'src/styles/header.scss';
@import 'src/styles/menu.scss';
@import 'src/styles/inputs.scss';
@import 'src/styles/footer.scss';
@import 'src/styles/notfound.scss';
@import 'src/styles/filters.scss';
@import 'src/styles/pagination.scss';
@import 'src/styles/wishlist.scss';
@import 'src/styles/orders.scss';
@import 'src/styles/static.scss';
@import 'src/styles/cookies.scss';
@media only screen and (min-width: 961px) {
  @import 'src/styles/responsive.scss';
}
